<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombrePro">Proyecto:</label>
                    <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="nombrePro" required>
                </div><div class="form-group">
                    <label for="fechaPro">Fecha:</label>
                    <input type="date" class="form-control" id="fechaPro" name="fechaPro" [(ngModel)]="fechaPro" required>
                </div>
           
                <div class="form-group">
                    <label for="descPro">Descripcion del Proyecto</label>
                    <input type="text" class="form-control" id="descPro" name="descPro" [(ngModel)]="descPro" required>
                </div>
                <div class="form-group">
                    <label for="imagenPro">Url imagen</label>
                    <input type="text" class="form-control" id="imagenPro" name="imagenPro" [(ngModel)]="imagenPro" required>
                </div>

                <button class="btn btn-primary">
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>

