<div class="row">
    <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        <a href="https://www.linkedin.com/in/daniel-vannucci/"><img src="../../../assets/linkedin.png" alt=""></a>
        <a href="https://www.twitter.com/VannucciDaniel/"><img src="../../../assets/twitter.png" alt=""></a>
        <a href="https://www.instagram.com/dani_vannucci/"><img src="../../../assets/instagram.png" alt=""></a>
        <a href="https://github.com/dfv34/"><img src="../../../assets/github.png" alt=""></a>
        <a href="https://www.facebook.com/daniel.francisco.9822/"><img src="../../../assets/facebook.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesion</button>
        </div>
</div>
</div>



