<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educ">
                    <td><img src="{{Educacion.imagenEdu}}" alt="" width="150px"></td>
                    <td>
                        <h2>{{Educacion.tituloEdu}}</h2>
                    </td>
                    <td>{{Educacion.fechainicioEdu | date:'dd-MM-yyyy'}}</td>
                    <td>{{Educacion.fechafinEdu | date:'dd-MM-yyyy'}}</td>
                    <td>{{Educacion.descEdu}}</td>
                    <td *ngIf="isLogged">
                        <button class="bi bi-pencil-fill" routerLink="/editedu/{{Educacion.idEdu}}">
                            </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button (click)="delete(Educacion.idEdu)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
